<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Tests_TDD.CreateLaunchpad"/>
      <class name="com.Tests_BDD.QueryCapsules"/>
      <class name="com.Tests_TDD.GetAllCapsules"/>
      <class name="com.Tests_TDD.All_Rockets_Tests"/>
      <class name="com.Tests_BDD.CreateCapsule"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
